<clr-datagrid>
  <clr-dg-column>Product ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>description</clr-dg-column>
  <clr-dg-column>Price</clr-dg-column>
  <clr-dg-column>Stock</clr-dg-column>

  <clr-dg-row *ngFor="let product of products">
    <!--Impossible de créer un sous composant item dans clarity-->
    <clr-dg-cell>{{product.idProduct}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.description}}</clr-dg-cell>
    <clr-dg-cell>{{product.price}}€</clr-dg-cell>
    <clr-dg-cell>{{product.stock}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{products?.length}} Products</clr-dg-footer>
</clr-datagrid>
